<style>
  .people {
    width: 100%;
    display: flex;
  }

  .people video {
    flex: 1;
  }
</style>

<nav>
  <ul>
    <li>{{link-to 'All' 'people.index'}}</li>
    <li>{{link-to 'Others' 'people.others'}}</li>
  </ul>
</nav>

{{outlet}}
