<style>
  .people {
    width: 100%;
    display: flex;
  }

  .people video {
    flex: 1;
  }
</style>

<div class='people'>
  {{#each model as |person|}}
    <video {{bind-attr src=person.streamURL}} autoplay controls></video>
  {{/each}}
</div>
